.container-fluid{
    border:3px solid rgb(42, 189, 128);
    text-align: center;
    width: 400px;
    height:500px;
    border-radius: 15px;
    margin-top: 150px;
    box-shadow:  5px 10px #888888;
    background-color: white;
}
.container{
    padding-top: 30px;
    border-bottom: 2px solid skyblue;
    height:350px;
}
button{
    margin-top: 50px;
    background-color: rgb(42, 189, 128);
    border:none;
}
h6{
    margin-top: 50px;
}